fastapi==0.115.0
uvicorn[standard]==0.30.0

motor==3.7.1
pymongo==4.10.1

pyjwt==2.10.1
bcrypt==4.3.0

python-multipart==0.0.20
python-dotenv==1.1.1
email-validator==2.2.0

numpy==2.3.2

pymupdf==1.27.2
faiss-cpu==1.14.2

langgraph==0.6.5
litellm==1.74.9

sentence-transformers==5.1.0

langsmith
langchain-community